* {
  box-sizing: border-box;
}

.outer {
  /* background: #000000; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-family: "Eczar", serif;
}

h1 {
  height: 100px;
  border: 2px white solid;
  padding: 50px;
}
