* {
  box-sizing: border-box;
}

.outer {
  /* background: #000000; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.heading {
  font-family: "Eczar", serif;
}

h1 {
  height: 100px;
  border: 2px white solid;
  padding: 50px;
}

.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 540px) {
  .row-1,
  .row-2 {
    flex-direction: column;
    width: 100vw;
  }
}
