.introText {
  color: "white";
  font-family: "Zilla Slab, serif";
  font-size: 40px;
  color: white;
  text-align: center;
}

.icon {
  height: 45px;
  width: 45px;
  object-fit: cover;
  background-color: white;
  border-radius: 100%;
  text-align: center;
  border: 2px solid white;
}

@media screen and (max-width: 540px) {
  .introText {
    font-size: 32px;
    width: 100%;
  }
}
