@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap");

.introText {
  color: "white";
  /* font-family: "Zilla Slab, serif"; */
  /* font-family: "Permanent Marker", cursive; */
  font-family: "Eczar", serif;
  font-size: 40px;
  color: #c5c6c7;
  text-align: center;
}

.iphone {
  margin-top: 4vh;
}

.icon {
  height: 45px;
  width: 45px;
  object-fit: cover;
  background-color: white;
  border-radius: 100%;
  text-align: center;
  border: 2px solid white;
}

@media screen and (max-width: 568px) and (min-height: 200px) {
  .iphone {
    margin-top: 15vh;
    /* border: 2px yellow solid; */
  }
}

@media screen and (max-width: 540px) {
  .introText {
    font-size: 32px;
    width: 100%;
  }
}
