.project-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* border: 2px yellow solid; */
}

.col-left {
  border: 1px solid white;
  height: 30vh;
  width: 40vw;
  margin: 50px;
  border-radius: 10px;
  background-color: #0b0c10;
  color: #66fcf1;
  filter: brightness(70%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-right {
  border: 1px solid white;
  height: 10vh;
  width: 40vw;
  margin: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
}

@media screen and (max-width: 568px) {
  .project-outer {
    flex-direction: column;
    font-size: 12px;
  }

  h1 {
    font-size: 14px;
  }

  .text-container {
    padding: 5px;
  }
  .col-left {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .col-right {
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project-outer {
    flex-direction: column;
  }
}
